<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册service类-->
    <!--这里实际对应的操作：SomeServiceImpl myService = new SomeServiceImpl();-->
    <bean id="myService" class="com.xuanzilan.ssm.spring4.service.impl.SomeServiceImpl"/>

</beans>