<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student2" class="com.xuanzilan.ssm.spring4.bean.Student">
        <constructor-arg name="sid" value="4"></constructor-arg>
        <constructor-arg name="age" value="4"></constructor-arg>
        <constructor-arg name="name" value="李四"></constructor-arg>
    </bean>

    <bean id="student4" class="com.xuanzilan.ssm.spring4.bean.Student">
        <constructor-arg name="sid" value="2"></constructor-arg>
        <constructor-arg name="age" value="3"></constructor-arg>
        <constructor-arg name="name" value="王五"></constructor-arg>
    </bean>

</beans>